
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
 }
 
 
 li{
    list-style: none;
    display: inline;
    padding: 50px;
 }
 
 a{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-weight: 100;

 }

 .container ul a:hover{
    text-decoration: underline;
 }
 
 .container{
   position: absolute;
   display: flex;
   font-size: 1.5em;
   font-weight: 400;
   padding: 2%;
   justify-content: center;
   width: 100%;
 }

.container .logo{
   position: relative;
   right: 10%;
   font-size: 1.0em;
   font-weight: 700;
   font-family: "Sofia", sans-serif;

}
