.body-products{
    background-color: black;
    width: 100%;
    height: 100px;
}


/* add product and view product buttons and their hover */
.buttons button{
    width: 10%;
    padding: 1%;
    margin-top: 7%;
    left: 38%;
    margin-left: 1%;
    position: relative;
    background: #3283ff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 7px;
}

.buttons button:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    background-color: #0069d9;
    border-color: #0062cc;
    transition: 0.2s all;
}

/* update button and hover */
.update-button{
    background: #3283ff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 7px;
}

.update-button:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    background-color: #0069d9;
    border-color: #0062cc;
    transition: 0.2s all;
}

/* delete button and hover */

.delete-button{
    background-color: red;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 7px;
}

.delete-button:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    background-color: rgb(224, 36, 36);
    transition: 0.2s all;
}


/* add product form */
.hide-form{
    display: none;
}
 
.show-form-container{
    position: absolute;
    height: 70%;
    left: 35%;
    top: 25%;
    padding: 1em;
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .show-form-container h1{
    text-align: center;
  }

  .input-form input:focus{
    border: 2.5px solid rgb(0, 157, 224);
    outline: none;
  }


  .input-form input{
    width: 100%;
    height: 20%;
    margin: 4% 0 0 0;
    border:0.5px solid black;
    border-radius: 5px;
  }
  .input-form .submit{
    background: #3283ff;
    color: white;
    cursor: pointer;
  }

  .input-form label{
    position: relative;
    top: 5%;
    font-size: 1.2em;
  }

  .input-form .submit:hover{
    background: #2666c6;
    color: white;
  }


/* show all products */
.products-container{
    margin-top: 2.5%;
    display: block;
}

.hide-products{
    display: none;
}


.title{
    text-align: center;
}
.products{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    margin: 1% 34%;
}
.products th, td {
    border: 2px solid #dddddd;
    text-align: left;
    width: 20%;
    padding: 8px;
}

.product button{
    margin-top: 5%;
    width: 100%;
}


/* Edit product */

.edit-container{
    margin-top: 2.5%;
    display: block;
}

.hide-edit-container{
    display: none;
}

.edit-product{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        position: relative;
        margin: 1% 23%;
    }
    
.edit-product td,th{
        border: 2px solid #dddddd;
        text-align: left;
        width: 20%;
        padding: 8px;
}

/* update product button */

.edit-product-button{
    background-color: #3283ff;
    color: white;
    cursor: pointer;
    font-size: 1em;
    width: 70%;
    margin-left: 16%;
}
.edit-product-button:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    background-color: #0069d9;
    border-color: #0062cc;
    transition: 0.2s all;
}

.search-bar{
    margin-left: 45%;
    margin-top: 1.5%;
}
.search-bar input{
    height: 30px;
    padding: 1% 1%;
}
.search-button{
    background-color: #3283ff;
    color: white;
    cursor: pointer;
    width: 10%;
    margin-left: 5%;
    padding: 1%;
    border-radius: 5px;
}

.search-button:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    background-color: #0069d9;
    border-color: #0062cc;
    transition: 0.2s all;
}